.cdupe-layout {
  display: flex;
}

.cdupe-layout .list {
  width: 300px;
}

.cdupe-layout .list {
  width: 300px;
}

.cdupe-layout .list .item {
  cursor: pointer;
}

.cdupe-layout .list .item:hover {
  text-decoration: underline;
}

.cdupe-layout .list header {
  margin-bottom: 20px;
}

.cdupe-layout .detail {
  flex: 1;
}