.game-of-moans-demo {
  color: white;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divider {
    border-left: 2px white solid;
    cursor: col-resize;
  }

  main {
    display: flex;
  
    .actions {
      display: flex;
      button {
        font-size: xx-large;
      }
    }

    .character-container {
      margin-left: 20px;
    }
  }
}